*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(163,163,163,1);
  -moz-box-shadow: 0px 1px 0px 0px rgba(163,163,163,1);
  box-shadow: 0px 1px 0px 0px rgba(163,163,163,1);
  margin-bottom: 30px;
}

.search-input{
  padding: 10px 10px;
  border: none;
  margin-left: 70px;
}

.search-input::placeholder{
  position: absolute;
  left: 30px;
  transition: 0.5s ease;
}

.search-input:focus::placeholder{
  border: none;
  left: 10px;
}

.search-input:focus{
  outline: none;
}

.search-icon{
  position: absolute;
  left: 55px;
  top: 50px;
  color: #777;
}

.my-name{
  font-size: 20px;
  padding: 5px 5px;
  background-color: white;
}

.social-icons{
  margin-left: 110px;
  margin-right: 70px;
}

.right-head{
  padding-right: 10px;
  color: #777;
  transition: 0.5s ease;
}

.right-head:hover{
  color: black;
}

.number-of-cart{
  border-radius: 50%;
  width: 17px;
  background-color: rgb(202, 16, 202);
  border: none;
  color: white;
  height: 17px;
  text-align: center;
  position: absolute;
  top: 23px;
  right: 70px;
}

nav{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-z{
  font-size: 12px;
  color: #777;
  padding-right: 20px;
  cursor: pointer;
  transition: 0.4s ease;
  font-weight: 700;
}

nav p,
.nav-p{
  padding-left: 0;
  font-size: 12px;
  padding-right: 5px;
  color: #777;
  cursor: pointer;
  transition: 0.4s ease;
  font-weight: 700;
}

nav a{
  text-decoration: none;
  padding-right: 18px;
}

.arrow{
  color: #777;
}

.nav-z:hover,
.nav-p:hover{
  color: rgb(202, 16, 202);
}

figure{
  background-color: rgb(245, 245, 245);
  padding: 15px;
  margin-bottom: 50px;
}

figure p{
  font-size: 14px;
  font-weight: 600;
  padding-left: 60px;
}

figure samp{
  color: #777;
}

figure span{
  color: rgb(202, 16, 202);
  font-weight: 500;
}

table{
  border-collapse: collapse;
  display: flex;
  justify-content: center;
}

th{
  border: 1px solid lightgray;
}

.th1{
  padding: 25px 50px;
}

.th2{
  padding: 25px 70px;
}

.th3{
  padding: 25px 30px;
}

.th4{
  padding: 25px 35px;
}

.img-table{
  width: 200px;
  padding: 10px;
}

.minus{
  border: 1px black solid;
  font-size: 8px;
  padding: 15px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0,6s ease;
  position: relative;
  top: -2px;
  left: 5px;
}

.num{
  border: 1px lightgray solid;
  padding: 10px 30px;
  margin-top: 20px;
}

.plus{
  border: 1px black solid;
  font-size: 8px;
  padding: 15px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.6s ease;
  position: relative;
  top: -2px;
  right: 5px;
}

.plus:hover,
.minus:hover{
  background-color: rgb(202, 16, 202);
  color: white;
  border: 1px rgb(202, 16, 202) solid;
}

.remove{
  border: 1px rgb(202, 16, 202) solid;
  padding: 10px 15px; 
  font-size: 10px;
  color: white;
  background-color: rgb(202, 16, 202);
  cursor: pointer;
}

.btn1{
  background-color: rgb(202, 16, 202);
  color: white;
  padding: 8px 50px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}

.btn2{
  background-color: white;
  color: rgb(202, 16, 202);
  padding: 8px 50px;
  border: 1px rgb(202, 16, 202) solid;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
}

.btns{
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  justify-content: space-between;
}

.total{
  font-size: 20px;
  font-weight: 600;
}

section hr{
  width: 64%;
  padding-top: 0;
  float: right;
  margin-right: 180px;
}

.checkout{
  width: 500px;
  float: right;
}

.coupon-box{
  padding-top: 50px;
  margin-left: 200px;
}

.coupon-box p{
  font-size: 25px;
  padding-bottom: 10px;
}

.code{
  font-size: 15px;
  color: #777;
}

.coupon-box input{
  margin-top: 20px;
  padding: 7px;
  width: 350px;
  border: 1px lightgray solid;
  border-radius: 3px;
}

.apply{
  padding: 8px 15px;
  background-color: rgb(202, 16, 202);
  color: white;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  margin-left: 30px;
}

.subtotal{
  display: flex;
  margin-top: 30px;
  font-size: 17px;
  font-weight: bold;
}

.subtotal-name{
  margin-right: 200px;
}

.total-name{
  margin-right: 230px;
}

.proceed{
  margin-top: 50px;
  color: white;
  background-color: rgb(202, 16, 202);
  padding: 15px 70px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
  top: 3rem;
}

section{
  padding-bottom: 100px;
}

footer{
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}
.nav{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: black;
}

footer p{
  font-size: 15px;
  color: #777;
  margin-bottom: 15px;
}

.flex2{
  margin-top: 45px;
}

footer img{
  width: 150px;
}

.img-footer{
  background-color: aquamarine;
  padding-right: 130px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.you-came-to-the-right-place{
  margin-top: 10px;
  font-size: 18px;
  color: rgb(173, 2, 173);
  margin-bottom: 5px;
}

.icon-footer{
  color: rgb(173, 2, 173);
  position: relative;
  top: -33px;
  right: 30px;
}

.subscribe{
  font-size: 20px;
  color: black;
  padding-top: 20px;
  position: relative;
  right: 40px;

}

.email-input{
  border: 1px rgb(184, 184, 184) solid;
  border-radius: 2px;
  padding: 10px 0;
  padding-right: 50px;
  padding-left: 10px;
  position: relative;
  right: 40px;
}

.email-input:focus{
  outline: none;
}

.send{
  color: white;
  background-color: rgb(173, 2, 173);
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  margin-top: 1px;
  position: absolute;
  right: 90px;
  letter-spacing: 1px;
}

.footer1{
  padding-bottom: 50px;
}

.footer1 samp{
  color: rgb(173, 2, 173);
  font-weight: 600;
}

.hard{
  margin-top: 20px;
}